.carousel-caption { 
	top: 100px;
}

.img-kris img {
	width: 50vw;
}

#services .row  {
	margin-bottom: 50px;
}

iframe {
	width: 100%;
	height: 75vh;
	margin: 50px 0;
}

.contact-icon { 
	display: inline;
}

.breadcrumb {
	margin: 30px 15px;
	position: absolute;
	bottom: 0;
	display: block;
}

.content {

}

.header {
    min-height: 50vh;
    margin-bottom: 30px;
    background-image: url(../img/header.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;  
}

.active a {
	color: red;
}

/*.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}*/

html,
body {
    height: 100%;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer {
    margin: 50px 0;
}